# ==========================================
# APP SOZLAMALARI
# ==========================================
PORT=5000
NODE_ENV=development
APP_URL=http://localhost:5000

# ==========================================
# MA'LUMOTLAR BAZASI SOZLAMALARI
# ==========================================
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=your_database_user
DB_PASS=your_database_password
DB_NAME=your_database_name

# ==========================================
# XAVFSIZLIK VA JWT
# ==========================================
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d